body {
    background: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #a03f06;
    padding: 15px;
    margin: 0;
}
p {
    color: white;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
}

.section {
    padding: 20px;
    margin: 20px;
    background-color: #333;
    color: white;
    border-radius: 8px;
}

